:root {
  --primary: #000000;
  --secondary: #ffffff;
  --secondary: #23a094;
  --secondary: #242423;
  --secondary: #ff90e8;
}
/* Times - 16px (400) */
/* "ABC Favorit", Avenir, Montserrat, Corbel, "URW Gothic", source-sans-pro, sans-serif - 16px (400) */
/* "ABC Favorit", Avenir, Montserrat, Corbel, "URW Gothic", source-sans-pro, sans-serif - 18px (400) */